  <div ng-if="bar.c.decisamente_no > 0" class="withLabel"><div>{{bar.c.decisamente_no}}%</div><div class="l-red" style="{{getWidthM(bar.c.decisamente_no)}}"></div></div>
  <div ng-if="bar.c.piu_no_che_si > 0" class="withLabel"><div>{{bar.c.piu_no_che_si}}%</div><div class="l-almost-red" style="{{getWidthM(bar.c.piu_no_che_si)}}"></div></div>
  <div ng-if="bar.c.piu_si_che_no > 0" class="withLabel"><div>{{bar.c.piu_si_che_no}}%</div><div class="l-almost-green" style="{{getWidthM(bar.c.piu_si_che_no)}}"></div></div>
  <div ng-if="bar.c.decisamente_si > 0" class="withLabel"><div>{{bar.c.decisamente_si}}%</div><div class="l-green" style="{{getWidthM(bar.c.decisamente_si)}}"></div></div>
  <div ng-if="bar.c.non_rispondo > 0" class="withLabel"><div>{{bar.c.non_rispondo}}%</div><div class="l-grey" style="{{getWidthM(bar.c.non_rispondo)}}"></div></div>
