 {{$index+1 + ') '+ v}}<br>
 <div ng-if="bar.decisamente_si > 0" class="c-square"><div class="square l-green"></div><div>{{bar.decisamente_si}}% <small>DECISAMENTE SI</small></div></div>
 <div ng-if="bar.piu_si_che_no > 0" class="c-square"><div class="square l-almost-green"></div><div>{{bar.piu_si_che_no}}% <small>PIù SI CHE NO</small></div></div>
 <div ng-if="bar.piu_no_che_si > 0" class="c-square"><div class="square l-almost-red"></div><div>{{bar.piu_no_che_si}}% <small>PIù NO CHE SI</small></div></div>
 <div ng-if="bar.decisamente_no > 0" class="c-square"><div class="square l-red"></div><div>{{bar.decisamente_no}}% <small>DECISAMENTE NO</small></div></div>
 <div ng-if="bar.si > 0" class="c-square"><div class="square l-orange"></div><div>{{bar.si}}% <small>SI</small></div></div>
 <div ng-if="bar.no > 0" class="c-square"><div class="square l-yellow"></div><div>{{bar.no}}% <small>NO</small></div></div>
 <div ng-if="bar.non_rispondo > 0" class="c-square"><div class="square l-grey"></div><div>{{bar.non_rispondo}}% <small>NON RISPONDO</small></div></div>
